#GOPHERMART
GOPHERMART_PORT=8080
GOPHERMART_RUN_ADDRESS=0.0.0.0:8080
GOPHERMART_DATABASE_URI=postgres://postgres:postgres@postgres:5432/praktikum?sslmode=disable
GOPHERMART_SECRET=42
ACCRUAL_SYSTEM_ADDRESS=http://0.0.0.0:7070

#POSTGRES
POSTGRES_PORT=65432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=praktikum

#ACCRUAL
ACCRUAL_PORT=7070
ACCRUAL_RUN_ADDRESS=0.0.0.0:7070
ACCRUAL_DATABASE_URI=postgres://postgres:postgres@postgres:5432/praktikum?sslmode=disable

